<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.genonbeta.TrebleShot">

    <!--Only Google Play version will require this permission for donation implementation-->
    <uses-permission android:name="com.android.vending.BILLING" />

    <application>
        <activity
            android:label="@string/text_donate"
            android:name=".activity.DonationActivity"
            android:theme="@style/Theme.TrebleShot.NoActionBar"/>
    </application>

</manifest>