<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.genonbeta.TrebleShot">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:appComponentFactory="@string/app_name"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/text_appName"
        android:supportsRtl="true"
        android:theme="@style/Theme.TrebleShot"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:appComponentFactory">

        <activity
            android:name=".activity.HomeActivity"
            android:label="@string/text_appName"
            android:launchMode="singleTask"
            android:theme="@style/Theme.TrebleShot.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ShareActivity"
            android:label="@string/text_appName"
            android:theme="@style/Theme.TrebleShot.NoActionBar.StaticStatusBar">
            <intent-filter>
                <action android:name="genonbeta.intent.action.TREBLESHOT_SEND_TEXT" />
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <action android:name="genonbeta.intent.action.TREBLESHOT_SEND" />
                <action android:name="genonbeta.intent.action.TREBLESHOT_SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>

            <!--<meta-data
                android:name="android.service.chooser.chooser_target_service"
                android:value=".service.DeviceChooserService" />-->
        </activity>

        <activity
            android:name=".activity.AddDevicesToTransferActivity"
            android:label="@string/text_addDevicesToTransfer"
            android:theme="@style/Theme.TrebleShot.NoActionBar.StaticStatusBar" />

        <activity
            android:name=".activity.FileExplorerActivity"
            android:label="@string/text_fileExplorer"
            android:theme="@style/Theme.TrebleShot.NoActionBar.StaticStatusBar" />

        <activity
            android:name=".activity.TextStreamActivity"
            android:label="@string/text_textStream"
            android:theme="@style/Theme.TrebleShot.NoActionBar.StaticStatusBar" />

        <activity
            android:name=".activity.ConnectionManagerActivity"
            android:label="@string/text_connectDevices"
            android:theme="@style/Theme.TrebleShot.NoActionBar.StaticStatusBar" />

        <activity
            android:name=".activity.ContentSharingActivity"
            android:label="@string/text_send"
            android:launchMode="singleTask"
            android:theme="@style/Theme.TrebleShot.NoActionBar.StaticStatusBar" />

        <activity
            android:name=".activity.FilePickerActivity"
            android:label="@string/text_fileExplorer" />

        <activity
            android:name=".activity.ViewTransferActivity"
            android:label="@string/text_transactionViewer"
            android:theme="@style/Theme.TrebleShot.NoActionBar.StaticStatusBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="*/*" />

                <data android:host="*" />
                <!-- expected file name pattern .5435-4543-4354-ewrw.tshare -->
                <data android:pathPattern=".*\\.tshare" />
                <data android:pathPattern=".*\\..*\\.tshare" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.ManageDevicesActivity"
            android:label="@string/text_manageDevices" />

        <activity
            android:name=".activity.SearchActivity"
            android:label="@string/butn_search" />

        <activity
            android:name=".activity.PreferencesActivity"
            android:label="@string/text_preferences" />

        <activity
            android:name=".activity.TextEditorActivity"
            android:label="@string/text_textEditor" />

        <activity
            android:name=".activity.ChangeStoragePathActivity"
            android:theme="@style/Base.Theme.AppCompat.Dialog">
            <intent-filter>
                <action android:name="com.genonbeta.intent.action.UPDATE_STORAGE_PATH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.AboutActivity"
            android:label="@string/text_about"
            android:theme="@style/Theme.TrebleShot.NoActionBar.StaticStatusBar" />

        <activity
            android:name=".activity.ThirdPartyLibrariesActivity"
            android:label="@string/text_thirdPartyLibraries" />

        <activity
            android:name=".activity.ChangelogActivity"
            android:label="@string/text_changelog" />

        <!-- todo: Remember, we are always using dark theme for this for better effects-->
        <activity
            android:name=".activity.BarcodeScannerActivity"
            android:label="@string/text_scanQrCode"
            android:theme="@style/Theme.TrebleShot.BarcodeScannerActivity" />

        <activity
            android:name=".activity.WelcomeActivity"
            android:label="@string/text_welcome"
            android:theme="@style/Theme.TrebleShot.NoActionBar" />

        <activity
            android:name=".activity.WebShareActivity"
            android:label="@string/text_webShare"
            android:theme="@style/Theme.TrebleShot.NoActionBar.StaticStatusBar" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <receiver
            android:name=".receiver.NetworkStatusReceiver"
            android:process=":transfer">
            <intent-filter>
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.wifi.WIFI_AP_STATE_CHANGED" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
                <action android:name="android.net.wifi.p2p.CONNECTION_STATE_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.DialogEventReceiver"
            android:process=":transfer" />

        <service
            android:name=".service.CommunicationService"
            android:enabled="true"
            android:label="@string/text_communicationService"
            android:process=":transfer" />

        <service
            android:name=".service.DeviceChooserService"
            android:label="@string/text_chooserTargetService"
            android:permission="android.permission.BIND_CHOOSER_TARGET_SERVICE">
            <intent-filter>
                <action android:name="android.service.chooser.ChooserTargetService" />
            </intent-filter>
        </service>
        <service android:name=".service.DeviceScannerService">
            <intent-filter>
                <action android:name="genonbeta.intent.action.SCAN_DEVICES" />
                <action android:name="genonbeta.intent.action.ADD_IP" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <service
            android:name=".service.WorkerService"
            android:label="@string/text_workerService" />

        <service
            android:name=".service.CommunicationToggleTile"
            android:icon="@drawable/ic_trebleshot_white_24dp_static"
            android:label="@string/text_shareFiles"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:process=":transfer">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
    </application>

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
</manifest>