<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.genonbeta.TrebleShot">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:label="@string/app_name"
            android:name=".activity.TrebleShotActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="genonbeta.intent.action.OPEN_RECEIVED_FILES"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".activity.ShareActivity">
            <intent-filter>
                <action android:name="genonbeta.intent.action.TREBLESHOT_SEND_TEXT"/>
                <action android:name="android.intent.action.SEND"/>
                <action android:name="android.intent.action.SEND_MULTIPLE"/>
                <action android:name="genonbeta.intent.action.TREBLESHOT_SEND"/>
                <action android:name="genonbeta.intent.action.TREBLESHOT_SEND_MULTIPLE"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="*/*"/>
            </intent-filter>
        </activity>

        <activity
            android:label="@string/preferences"
            android:name=".activity.PreferencesActivity"
            android:parentActivityName=".activity.TrebleShotActivity"/>

        <activity
            android:label="@string/text_editor"
            android:name=".activity.TextEditorActivity"/>

        <service
            android:name=".service.ClientService"
            android:label="Client Service"/>
        <service
            android:name=".service.ServerService"
            android:label="Server Service"/>
        <service
            android:name=".service.CommunicationService"
            android:label="Communication Service"/>

        <receiver android:name=".receiver.NetworkStatusReceiver">
            <intent-filter>
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED"/>
                <action android:name="android.net.wifi.STATE_CHANGE"/>
                <action android:name="android.net.wifi.p2p.CONNECTION_STATE_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.DialogEventReceiver"/>
        <receiver android:name=".receiver.DeviceScannerProvider">
            <intent-filter>
                <action android:name="genonbeta.intent.action.SCAN_DEVICES"/>
                <action android:name="genonbeta.intent.action.ADD_IP"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
